<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h1>CPE431 Computer Vision 2/2562</h1>
        <h3>Group name : Smart_Classroom</h3> 
          <p><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Members
          <br> 1. Supaksa Sae-heng 			60113005-7
          <br> 2. Poramet Poolsup 			60113010-7
          <br> 3. Jessada Supawattanakul 	60113052-9 
          <br> 4. Korawit Puangwalaisin 		60113055-2<br></p>
          
    <form action="upload">
      <input type="submit" value="Continue to Pytesserract">
      </form>
  </form>
  </body>
</html>